# Data Science Tools and Ecosystem

## In this notebook, we will have a short glimpse of Data Science Tools

### Data science languages are Python, R, Julia, Scala, SQL

### Data science libraries are Numpy, Pandas, SkiPy, Matplotib, Keras, Scikit learn

| Category | Data Science Tools |
|----------|--------------------|

|Data management | MySQL, PostgreSQL, MangoDB, CouchDB, Hadoop|
|----------|--------------------|

| Data integration and transformation | KubeFlow, Apache Kafka, SparkSQL |
|----------|--------------------|

| Data Visualization tools | Pixie Dust, Hue, Kibana |
|----------|--------------------|

| Model Deployement | Apache PredictionIO, Seldon, TensorFlow|
|----------|--------------------|

| Model Monitoring tools | ModelDB, IBM AI Fairness 360, IBM AI Explainability 360|
|----------|--------------------|

| Code Asset management | Git, GitHub, GitLab and Bitbucket|
|----------|--------------------|

### Below are a few examples of evaluating arithmetic expressions in Python
3+2=5

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
a=200/60
print(a)

3.3333333333333335

# *Objectives*
#### Learn about Jupyter Notebooks 
#### Learned about Arithmetic equations and similar operations in Jupyter notebooks
#### Learned about Different datascience tools and their application
#### Popular languages of data science is Python, R, SQL and Scala

## Malay Tanna, Author